.label {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 2px;
  display: block;
}

.input {
  height: 25px;
  width: 150px;
  background-color: #fbfcfe;
  border: 1px solid #cdd7e0;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #f0f0f0;
  padding: 0px 5px;
}

.input:hover {
  background-color: #f0f4f8;
  /* cursor: pointer; */
}
.input:focus {
  outline-color: #156ac6;
  /* border: 10px solid #156ac6; */
}

.input:disabled {
  background-color: #d6d8dc;
}

.alartMessage {
  color: red;
  font-size: 12px;
  margin: 0;
  padding-top: 2px;
}
